/* spartan theme */
pre.code, pre.code table, .linenos pre { background: #171717 !important; color: #fff !important; }
pre.code .hll { background-color: #404040 !important; } /* ??? */
pre.code .c { color: #a3a3a3 !important; font-style: italic !important; background-color: #000 !important; } /* Comment */
pre.code .err { color: #990000 !important; background-color: #fff !important; font-style: italic !important; } /* Error */
pre.code .g { color: #fff !important; } /* Generic */
pre.code .k { color: #ffcc66 !important; } /* Keyword; catches prefixes and css3 */
pre.code .l { color: #fff !important; } /* Literal */
pre.code .n { color: #fff !important; } /* Name */
pre.code .o { color: #ffcc66 !important; } /* Operator */
pre.code .x { color: #fff !important; } /* Other */
pre.code .p { color: #ffcc66 !important; } /* Punctuation */
pre.code .cm { color: #a3a3a3 !important; font-style: italic !important; background-color: #000 !important; } /* Comment.Multiline */
pre.code .cp { color: #c80f0f !important; } /* Comment.Preproc */
pre.code .c1 { color: #a3a3a3 !important; font-style: italic !important; background-color: #000 !important; } /* Comment.Single */
pre.code .cs { color: #a3a3a3 !important; font-style: italic !important; background-color: #000 !important; } /* Comment.Special */
pre.code .gd { color: #d22323 !important; } /* Generic.Deleted */
pre.code .ge { color: #d0d0d0 !important; } /* Generic.Emph */
pre.code .gr { color: #d22323 !important; } /* Generic.Error */
pre.code .gh { color: #ffffff !important; } /* Generic.Heading */
pre.code .gi { color: #589819 !important; } /* Generic.Inserted */
pre.code .go { color: #cccccc !important; } /* Generic.Output */
pre.code .gp { color: #aaaaaa !important; } /* Generic.Prompt */
pre.code .gs { color: #d0d0d0 !important; } /* Generic.Strong */
pre.code .gu { color: #ffffff !important; } /* Generic.Subheading */
pre.code .gt { color: #d22323 !important; } /* Generic.Traceback */
pre.code .kc { color: #50814f !important; } /* Keyword.Constant */
pre.code .kd { color: #ffcc66 !important; } /* Keyword.Declaration */
pre.code .kn { color: #ffcc66 !important; } /* Keyword.Namespace */
pre.code .kp { color: #ffcc66 !important; } /* Keyword.Pseudo */
pre.code .kr { color: #ffcc66 !important; } /* Keyword.Reserved */
pre.code .kt { color: #ffcc66 !important; } /* Keyword.Type */
pre.code .ld { color: #7f90aa !important; } /* Literal.Date */
pre.code .m { color: #ff593e !important; } /* Literal.Number */
pre.code .s { color: #78ce91 !important; } /* Literal.String */
pre.code .na { color: #3399cc !important; } /* Name.Attribute */
pre.code .nb { color: #7f90aa !important; } /* Name.Builtin */
pre.code .nc { color: #ff6400 !important; } /* Name.Class */
pre.code .no { color: #fff !important; } /* Name.Constant */
pre.code .nd { color: #7f90aa !important; } /* Name.Decorator */
pre.code .ni { color: #fff !important; } /* Name.Entity */
pre.code .ne { color: #7f90aa !important; } /* Name.Exception */
pre.code .nf { color: #ff6400 !important; } /* Name.Function */
pre.code .nl { color: #fff !important; } /* Name.Label */
pre.code .nn { color: #3399cc !important; } /* Name.Namespace */
pre.code .nx { color: #fff; } /* Name.Other */
pre.code .py { color: #fff !important; } /* Name.Property */
pre.code .nt { color: #ffcc66 !important; } /* Name.Tag */
pre.code .nv { color: #ff593e !important; } /* Name.Variable */
pre.code .ow { color: #ffcc66 !important; } /* Operator.Word */
pre.code .w { color: #888 !important; } /* Text.Whitespace */
pre.code .mf { color: #ff593e !important; } /* Literal.Number.Float */
pre.code .mh { color: #ff593e !important; } /* Literal.Number.Hex */
pre.code .mi { color: #ff593e !important; } /* Literal.Number.Integer */
pre.code .mo { color: #ff593e !important; } /* Literal.Number.Oct */
pre.code .sb { color: #50814f !important; } /* Literal.String.Backtick */
pre.code .sc { color: #50814f !important; } /* Literal.String.Char */
pre.code .sd { color: #50814f !important; } /* Literal.String.Doc */
pre.code .s2 { color: #78ce91 !important; } /* Literal.String.Double */
pre.code .se { color: #50814f !important; } /* Literal.String.Escape */
pre.code .sh { color: #50814f !important; } /* Literal.String.Heredoc */
pre.code .si { color: #ffcc66 !important; } /* Literal.String.Interpol */
pre.code .sx { color: #78ce91 !important; } /* Literal.String.Other */
pre.code .sr { color: #7f90aa !important; } /* Literal.String.Regex */
pre.code .s1 { color: #78ce91 !important; } /* Literal.String.Single */
pre.code .ss { color: #50814f !important; } /* Literal.String.Symbol */
pre.code .bp { color: #ff593e !important; } /* Name.Builtin.Pseudo */
pre.code .vc { color: #3399cc !important; } /* Name.Variable.Class */
pre.code .vg { color: #3399cc !important; } /* Name.Variable.Global */
pre.code .vi { color: #3399cc !important; } /* Name.Variable.Instance */
pre.code .il { color: #ff593e !important; } /* Literal.Number.Integer.Long */
.linenos pre { text-align: right; }
.linenos a { color: #fff !important; }
.linenos a:hover, .linenos a:focus: { color: #fff !important; text-decoration: none !important; }
