* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Merriweather, Georgia, serif;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Raleway, Arial, sans-serif;
}

h2 {
    border-bottom: 1px solid #eee;
    margin-bottom: 16px;
    padding-bottom: 0.3em;
}

p,
ul,
pre {
    margin-bottom: 20px;
}

pre,
code,
.code,
tt {
    font-size: 14px;
    font-family: 'Source Code Pro', monospace;
}

code,
tt {
    margin: 0 2px;
    padding: 2px 4px;
    background-color: rgba(0,0,0,0.04);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

a {
    color: #28742d;
}

a:hover,
a:focus {
    color: #023906;
}


p.more a {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.navbar-default {
    background-color: #772953;
    border-color: #511c39;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  background-color: none;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #511c39;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #3e152b;
}

.navbar-nav > li > a i div {
    font-size: 50%;
    text-align: center;
    margin: 0 auto;
    position: fixed;
    left: -50%;
    right: -50%;
    font-family: Merriweather, Georgia, serif;
}

.metadata {
    color: #c0c0c0;
    font-family: Raleway, Arial, sans-serif;
    font-style: italic;
}

.postindex article {
    margin: 0;
    position: relative;
}

.postindex article header {
    margin-bottom: 15px;
}

.postindex hr {
    margin: 60px 0;
}

.section {
    margin: 40px 0;
}

.tags > li,
.reference.badge {
    /* Compensate for font size/family. Normally padding-top is 3px. */
    padding-top: 5px;
}

footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
    line-height: 16px;
}

@media (min-width: 750px) {
    .container {
        width: 750px;
    }
}

@media (max-width: 767px) {
    .navbar-nav > li > a i div {
        position: static;
        text-align: left;
    }
}
