@font-face {
    font-family:'Quattrocento Sans';
    src:url("../fonts/quattrocentosans-bold-webfont.eot");
    src:url("../fonts/quattrocentosans-bold-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/quattrocentosans-bold-webfont.woff") format("woff"),
        url("../fonts/quattrocentosans-bold-webfont.ttf") format("truetype"),
        url("../fonts/quattrocentosans-bold-webfont.svg#QuattrocentoSansBold") format("svg");
    font-weight:bold;
    font-style:normal;
}

@font-face {
    font-family:'Quattrocento Sans';
    src:url("../fonts/quattrocentosans-bolditalic-webfont.eot");
    src:url("../fonts/quattrocentosans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/quattrocentosans-bolditalic-webfont.woff") format("woff"),
        url("../fonts/quattrocentosans-bolditalic-webfont.ttf") format("truetype"),
        url("../fonts/quattrocentosans-bolditalic-webfont.svg#QuattrocentoSansBoldItalic") format("svg");
    font-weight:bold;
    font-style:italic;
}

@font-face {
    font-family:'Quattrocento Sans';
    src:url("../fonts/quattrocentosans-italic-webfont.eot");
    src:url("../fonts/quattrocentosans-italic-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/quattrocentosans-italic-webfont.woff") format("woff"),
        url("../fonts/quattrocentosans-italic-webfont.ttf") format("truetype"),
        url("../fonts/quattrocentosans-italic-webfont.svg#QuattrocentoSansItalic") format("svg");
    font-weight:normal;
    font-style:italic;
}

@font-face {
    font-family:'Quattrocento Sans';
    src:url("../fonts/quattrocentosans-regular-webfont.eot");
    src:url("../fonts/quattrocentosans-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/quattrocentosans-regular-webfont.woff") format("woff"),
        url("../fonts/quattrocentosans-regular-webfont.ttf") format("truetype"),
        url("../fonts/quattrocentosans-regular-webfont.svg#QuattrocentoSansRegular") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'Copse';
    src:url("../fonts/copse-regular-webfont.eot");
    src:url("../fonts/copse-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/copse-regular-webfont.woff") format("woff"),
        url("../fonts/copse-regular-webfont.ttf") format("truetype"),
        url("../fonts/copse-regular-webfont.svg#CopseRegular") format("svg");
    font-weight:normal;
    font-style:normal;
}

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p,
ul,
pre {
    margin-bottom: 20px;
}

pre,
code,
.code,
tt {
    font-size: 12px;
    font-family: 'Lucida Sans', Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
}

pre .ln {
	padding-right: 5px;
}

code,
tt {
    margin: 0 2px;
    padding: 2px 4px;
    background-color: rgba(0,0,0,0.04);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.postindex article {
    margin: 0;
    position: relative;
}

.postindex article header {
    margin-bottom: 15px;
}

.postindex hr {
    margin: 60px 0;
}

footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
    line-height: 16px;
}

@media (min-width: 1200px) {
    .container {
    width: 970px;
}
