* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Georgia, serif;
    line-height: 1.6;
}

p,
ul,
pre {
    margin-bottom: 20px;
}

pre,
code,
.code,
tt {
    font-size: 14px;
    font-family: 'Source Code Pro', monospace;
}

pre .ln {
	padding-right: 5px;
}

code,
tt {
    margin: 0 2px;
    padding: 2px 4px;
    background-color: rgba(0,0,0,0.04);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.postindex article {
    margin: 0;
    position: relative;
}

.postindex article header {
    margin-bottom: 15px;
}

.postindex hr {
    margin: 60px 0;
}

.section {
    margin: 40px 0;
}

footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
    line-height: 16px;
}

@media (min-width: 1200px) {
    .container {
    width: 750px;
}
